/**
    This binding file was auto generated based on FLIX template v{{.Version}}. 
    Changes to this file might get overwritten 
**/

import * as fcl from "@onflow/fcl"
{{- if .IsLocalTemplate }}
import flixTemplate from "{{.Location}}"
{{- else}}
const flixTemplate = "{{.Location}}"
{{- end}}

const parameterNames = [
  {{- range $index, $ele := .Parameters -}}
     {{if $index}}, {{end}}"{{$ele.Name}}"
  {{- end -}}
];

{{if .IsScript}}
{{- template "js_script.tmpl" .}}
{{else}}
{{- template "js_tx.tmpl" .}}
{{end}}



